<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @score.form %>
</p>

<p>
  <strong>Major must:</strong>
  <%= @score.major_must %>
</p>

<p>
  <strong>Minor must:</strong>
  <%= @score.minor_must %>
</p>

<p>
  <strong>Total:</strong>
  <%= @score.total %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
