<p id="notice"><%= notice %></p>

<h1>Listing Farmers</h1>

<table>
  <thead>
    <tr>
      <th>Farmer name</th>
      <th>Membership number</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= farmer.farmer_name %></td>
        <td><%= farmer.membership_number %></td>
        <td><%= farmer.telephone %></td>
        <td><%= link_to 'Show', farmer %></td>
        <td><%= link_to 'Edit', edit_farmer_path(farmer) %></td>
        <td><%= link_to 'Destroy', farmer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farmer', new_farmer_path %>
