<p id="notice"><%= notice %></p>

<p>
  <strong>Farmer name:</strong>
  <%= @farmer.farmer_name %>
</p>

<p>
  <strong>Membership number:</strong>
  <%= @farmer.membership_number %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @farmer.telephone %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
