<p id="notice"><%= notice %></p>

<p>
  <strong>Farmer:</strong>
  <%= @form.farmer %>
</p>

<p>
  <strong>Form name:</strong>
  <%= @form.form_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @form.date %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
